extends layouts/main

block content
    .form-container
        form(action=routes.addExercise, method="post")
            label(for="file") Exercise
            input(type="text", placeholder="Name", name="name", required=true)
            input(type="text", placeholder="Image URL", name="imageUrl", required=true)
            input(type="number", placeholder="Level", name="level" required=true)
            input(type="text", placeholder="Model URL", name="modelUrl", required=true)
            input(type="number", placeholder="Type", name="type" required=true)
            input(type="text", placeholder="Description", name="description" required=true)
            input(type="submit", value="Upload")