  
header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fas.fa-child
                span=siteName
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Log In
                else 
                    li
                        a(href=routes.me) Profile
                    li
                        a(href=routes.logout) Log Out